body {
  background:#f3f3f3;
}

img {
  width: 100%;
  height: 220px;
}

a {
  color: #e74c3c !important;
}

button:focus {
  outline: none;
}

.App {
  text-align: center;
  font-family: "Roboto";
}

.MuiInputBase-input-28{
  font-size: 16px !important;
}

.MuiButton-label-2{
  font-size: 16px !important;
  font-weight: 400;
}

.search-field {
  margin-left: 2rem;
}

.App-header {
  background-color: #4F2D7F;
  height: 10%;
  padding: 10px;
  color: white;
  margin-bottom: 5rem;
}

.App-title {
  font-size: 50px;
  display: inline-block;
  font-weight: 100;
  letter-spacing: -1pt;
}

.dialog-box-text p{
  font-size: 15px;
  margin-top: 2rem;
}

.recipes__box {
  background: #fff;
  padding-bottom: 2rem;
  border-radius: 5px;
  box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
  text-align: left;
  overflow: hidden;
}

.recipe__text {
  margin-left: 15px;
}

.add-recipe-button {
  color: white !important;
}

.add-recipe-header {
  font-size: 24px !important;
}

.add-recipe-text {
  font-size: 16px !important;
}

.message-id {
  font-size: 18px !important;
  font-weight: 500;
}

.recipes__title {
  color: #4F2D7F;
  text-transform: uppercase;
  /* font-size: 1.4rem; */
  padding: 1.8rem 0 0.2rem 0;
}

.recipes__subtitle {
  text-transform: uppercase;
  font-weight: 600;
  /* font-size: 0.8rem; */
  letter-spacing: 2px;
}

.recipes__subtitle span {
  text-transform: none;
  font-weight: 400;
  /* font-size: 0.8rem; */
  letter-spacing: 1px;
}

input[type="text"] { 
  outline: none;
  font-size: 16px;
}

a {
  color: #4F2D7F !important;
}

.recipe-inputs input[type="text"] {
  border: none;
  border-bottom: 2px solid #4F2D7F;
  display: block;
  margin-top: 2rem;
  width: 100%;
}

.recipe-inputs textarea {
  width: 100%;
  height: 150px;
  margin-top: 2rem;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.recipe-header {
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 2.5rem;
  margin-right: 1rem;
  font-size: 40px !important;
  font-weight: 600;
}

.login-button {
  margin-left: 30rem !important;
}

input[type="file"] {
  margin-top: 2rem;
  font-size: 13px;
  text-transform: capitalize;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset;
  -webkit-text-fill-color: #2c3e50 !important;
}

/******** RECIPE.js ********/

.active-recipe {
  margin: 0 auto;
  width: 60%;
}

.active-recipe__img {
  height: 500px !important;
}

.active-recipe__title {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 1rem 0;
}

.active-recipe__publisher, .active-recipe__website {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.active-recipe__publisher span {
  text-transform: none;
  font-weight: 300;
  letter-spacing: 2px;
  margin-left: 5px;
}

.active-recipe__website span {
  text-transform: lowercase;
  font-weight: 300;
  letter-spacing: 2px;
  color: #e74c3c;
  margin-left: 10px;
}

.active-recipe__button {
  border: solid 2px #e74c3c;
  background: transparent;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
